* {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
  width: 100px;
  height: 30px;
  border: none;
  color: white;
  background-color: rgb(255, 127, 127);
  border-radius: 7px;
  font-weight: 900;
  font-size: 17px;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-gap: 100px;
  background-color: rgb(250, 237, 237);
}

#content {
  background-image: url("foodArt.jpg");
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
