* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  color: rgb(252, 123, 123);
}

button {
  cursor: pointer;
  width: 100px;
  height: 40px;
  border: none;
  color: white;
  background-color: rgb(252, 123, 123);
  border-radius: 7px;
  font-weight: 900;
  font-size: 17px;
}

nav {
  width: 100vw;
  height: 75px;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  background-color: rgb(247, 198, 198);
}

.home {
  background-image: url(./images/foodArt.jpg);
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.home-right {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 40vw;
  margin-left: auto;
  padding: 200px;
}

p {
  font-style: italic;
  font-size: 30px;
}

h1 {
  font-size: 40px;
  margin-top: 50px;
}

.items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  align-self: center;
  padding: 150px;
  flex-wrap: wrap;
  gap: 50px;
}

.menu-details {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.menu-p {
  font-size: 20px;
  font-weight: 900;
}

#images {
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  width: auto;
  border-radius: 10px;
}
.cookies {
  background-image: url(./images/cookies.jpg);
}

.croissant {
  background-image: url(./images/croissant.jpg);
}

.cupcake {
  background-image: url(./images/cupcake.jpg);
}

.cheesecake {
  background-image: url(./images/cheesecake.jpg);
}

.tiramisu {
  background-image: url(./images/tiramisu.jpg);
}

.cake {
  background-image: url(./images/cake.jpg);
}

.contact {
  width: 500px;
  height: auto;
  padding: 0 30px 60px 30px;
  border: 1px solid red;
  margin: 150px auto;
  border-radius: 10px;
  text-align: center;
}
